include _includes/sharedHTMLfunctions

extends layout
block content
  .row.page-header
    .col-lg-12
      h1= pageHeader.title
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          +outputRating(recipe.rating)
          p= recipe.description
          .panel.panel-primary
            .panel-heading
              h2.panel-title Ingredienti
            .panel-body
              each ingredient in recipe.ingredients
                p= ingredient.quantity  + ingredient.measure + ' ' + ingredient.name

  .row
    .col-xs-12
      ol
        each step in recipe.steps
          li= step