extends layout
block content
  .row.page-header
    .col-lg-12
      h1 Carbonara
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          p.rating
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star-empty
            span.glyphicon.glyphicon-star-empty
          p Pasta alla carbonara
          .panel.panel-primary
            .panel-heading
              h2.panel-title Ingredienti
            .panel-body
              p Porcello
              p Uova
              p Pasta
  .row
    .col-xs-12
      ol
        li prendere a calci il porcello
        li rompere le uova